yarn-path ".yarn/releases/yarn-1.17.3.js"

# TODO: Consider using the offline mirror feature in yarn.
# yarn-offline-mirror ".yarn/offline-mirror"
# yarn-offline-mirror-pruning true
# --install.offline true
